/* importando fontes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #2F2F2F;
    font-family:  'Poppins', sans-serif;
    
    
    

}
header{
    background-color: black;
    height: 75px;

}
main {
    display: flex;
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;      /* Centraliza verticalmente */
    height: 100vh;            /* Faz o main ocupar toda a tela */
}

.logo{
    color: #D9D9D9 ;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
      
}

.grupo-secao {
    display: flex;
    justify-content: space-around; /* Mantém os itens espaçados */
    align-items: center;
    gap: 300px;
    height: 100vh;
    margin: auto;
    position: relative;
    bottom: 100px;
}

.section1{
    
}
.titulo{
    font-size: 30px;
    font-weight: 100;
    color: #D9D9D9;
}
.texto-main{
    font-size: 20px;
    color: #D9D9D9;
}

button{
    width: 140px;
    border-radius: 6px;
    height: 50px;
    margin-top: 10px;
    background-color: black;
    color: #D9D9D9;
    font-size: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);

}
.imagem-main{
    flex: 1;
    text-align: center; 
    margin-left: 50px; 
    
}
.imagem-main img{
    width: 300px;
    border-radius: 100%;
    border: 2px solid;
    height: 300px;
    
}


