/* importando fontes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #2F2F2F;
    font-family:  'Poppins', sans-serif;
    height: 90vh;
}
header{
    background-color: black;
    height: 75px;

}
main {
    display: flex;
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;      /* Centraliza verticalmente */
    height: 100vh;            /* Faz o main ocupar toda a tela */
}

.logo{
    color: #D9D9D9 ;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
      
}

.grupo-secao {
    display: flex;
    justify-content: space-around; /* Mantém os itens espaçados */
    align-items: center;
    gap: 100px;
    height: 100vh;
    margin: auto;
    position: relative;
    bottom: 100px;
}

.titulo{
    font-size: 30px;
    font-weight: 100;
    color: #D9D9D9;
}
.texto-main{
    font-size: 20px;
    color: #D9D9D9;
}
.botao-main{
    margin-top: 20px; 
    display: flex;
    position: relative;
    width: 200px;
    height: 50px;
}
.botao{
    width: 150px;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}
.imagem-main{
    flex: 1;
    text-align: center; 
    margin-left: 50px; 
    
}
.imagem-main img{
    width: 300px;
    border: 2px solid;
    height: 300px;
    border-radius: 50%; /* Melhor usar 50% para círculos */
    object-fit: cover; /* Mantém a proporção sem distorcer */
}

footer{
    background-color: #000000;
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
    flex-direction: column;
}
.direitos{
    color: #D9D9D9;
    text-align: center;
    margin-top: 20px; 
    
}
.icones{
    display: flex;
    justify-content: center;
    

}
.icone-1 img{
    width: 60px;
    height: 60px;
    
}
.icone-1{
    background-color: #eb2525;
    border-radius: 50%;
    width: 100px;
}
.icone-2{
    background-color: #dd5959;
    border-radius: 50%;
}
.icone-3{
    background-color: #ac2929;
    border-radius: 50%;
}