@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');


*{
/* tirar todos os tipos de configurações que já vem na página */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
/* gradiente para manter um visual agradável, e uma fonte confortável para todo o site */
    background-color: #7c7c7c;
    font-family:  'Poppins', sans-serif;
    height: 90vh;
}
header{
    background-color: black;
    height: 75px;

}
a{
    text-decoration: none;
    color:#2F2F2F;
}

h1{
    color: #D9D9D9;
    margin-bottom: 50px;
}
main {
    background: linear-gradient(90deg, #6d6d6d, #0e0e0e);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;   
    flex-direction: column;
           
}

.logo{
    color: #D9D9D9 ;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    h1{
        color: #fdfdfd;
        font-weight: bolder;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    }
}
/* container para agrupar os elementos como um todo e deixá-los de forma estruturada */
.container-main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    gap: 30px;
}
/* Pode parecer confuso porém essas são as estilizações da seção da esquerda, porque o css funciona assim ao contrário */
.direita{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    gap: 20px;
}
/* essas são as estilizações da seção da direita */
.esquerda{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    margin-bottom: 70px;
}
/* aqui estilizamos como cada um dos exercicios deve se parecer */
.exercicio{
    background-color: #D9D9D9;
    width: 300px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius:  10px 10px;
    box-shadow: 10px 5px 45px;
    
}
/* quando o usuário passar o cursor por cima, a div aumenta de tamanho para dar uma enfase */
.exercicio:hover{
    transform: scale(1.1);
    box-shadow: 10px 20px 20px rgb(0,0,0,0.6);
    opacity: 1;
    transition: transform 0.4s ease;
}



/* estilizações do rodapé para cada elemento ficar no lugar correto */

footer{
    background-color: #000000;
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
    flex-direction: column;
}
.direitos{
    color: #D9D9D9;
    text-align: center;
    margin-top: 10px; 
    font-size: 13px;
    
}
.icones{
    display: flex;
    margin-top: 35px;
    justify-content: center;
    gap: 20px;
}
.icone-1 img{
    width: 33px;
    height: 27px;
    margin-right: 2px;
}
.icone-2 img{
    width: 30px;
    height: 30px;
    
}
.icone-3 img{
    width: 30px;
    height: 30px;
    
}
.icone-1{
    background-color: #2F2F2F;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icone-2{
    background-color: #2F2F2F;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icone-3{
    background-color: #2F2F2F;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr{
    margin-top: 35px;
    width: 100%;
    height: 1px;
    border: none;
    background-color: #D9D9D9;
    opacity: 0.3; 
}